@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
  margin:0;
  padding:0;
} 
.logo{
  border-radius:10px;
  width: 100px;
  position:absolute;
  right:75%;
  animation: animate 3s linear infinite;
}
@keyframes animate{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
.me {
  width: 25%;
  border-radius:10px;
  width: 170px;
  height:220px;
  grid-area:auto;
  max-width:700px; 
  border-style:solid;
  border-color: rgb(10, 189, 213);
}

body {
text-align: center;
font-family: helvetica;
background-image: url("https://cdn.wallpapersafari.com/3/93/juGSXV.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


  h1{
    text-align:center;
    font-family: 'Permanent Marker', cursive;
    font-size:100px;
    color:rgb(10, 189, 213);
  }


  /* Java Script */
span {
  opacity: 0;
  transition: all 0.4s ease; 
  }
span.fade {
  opacity: 1;
  }
/* about me */
  .aboutme{
    color:white;
    text-size-adjust: 16px;
    flex:1;
    border:5px black;
    padding:10px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    line-height:1.5;
  }

 a{
  color: aliceblue;
  
 }
  h2{
    text-align:center;
    font-size:50px;
    color: aliceblue;
  }
  h3{
    color:aliceblue;
  }
  .upper-tabs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;
    margin: 20px; 
    list-style: none;
    font-family: 'Fjalla One', sans-serif;
    background-color:rgb(11, 71, 127);
    font-size: larger;
  }
  .upper-tabs:hover{
    font-size: larger;
    font-weight:bold;
}
/* skills icon */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  
}

.skill-header {
  margin-bottom: 1rem;
  -webkit-text-stroke: 2px black;
  justify-items: center;
}

.icon {
  width: 5rem;
  height: 5rem;
  display: absolute;
  max-width:80px; 
 
}
.icon-card {
  border-radius: 11px;
  padding: 20px;
  margin: 10px;
}
.top-box{
  flex:1;
  border:10px black;
  padding:10px;

}
p{
  font-family: 'Arimo', sans-serif;
  color: aliceblue;
  margin: 50px;
}

/* Projects */
.project-container project-card{
display:absolute;
background-color: aquamarine;

}

.project-pic {
  margin: 10px;
  border: 3px solid #000;
  width:20%;
}  

.project-pic:hover{
  transform: scale(1.5, 1.5);
  margin: 2rem;
  max-width: 30%;
 
}    


#projects {
  background-color: white;
  color: #222;
} 

#contact {
  background-color: #222;
  color: white;
}

.myCaption {
  text-align: center;
}

input {
  color: #222;
}
/* contact */
.ct {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.ct:hover {
    opacity: 0.7;
}

@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}